<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shuttles Event Management Page</title> 
    </head>
    <body>
        <h3>Menu List</h3>
        <br>
        <p>Shuttles 공지사항 리스트 페이지입니다.</p>
        <br>
        <table>
            <tr>
                <td>
                    <form method="get" action="/event/add">
                        <input type="submit" value="공지사항 추가" name="eventAdd">
                    </form>
                </td>
                <td>
                    <form method="get" action="/menu/list">
                        <input type="submit" value="메뉴 관리" name="eventAdd">
                    </form>
                </td>
            </tr>
        </table>
        <br><br>
        <div>
            <form method="get" action="/event/update_page">
                <table>
                    <% for(var i=0; i<results.length; i++) {
                        var event_id = results[i].event_id;
                        var subject = results[i].subject;
                        var content = results[i].content;
                        var update_time = results[i].update_time;
                        var create_time = results[i].create_time;
                        var count = results[i].count;
                        %>
                        <tr>
                            <td><input type='radio' name='event_id' value=<%= event_id %>></td>
                            <td>제목: <%= subject %></td> 
                            <td>최종 업데이트 시간: <%= update_time %></td> 
                            <td>작성 시간: <%= create_time %></td> 
                            <td>카운트: <%= count %></td> 
                            <td>내용: <%= content %></td>
                        </tr>
                    <%}%>
                    <input type="submit" value="공지사항 수정" name="eventUpdate">
                </table>
            </form>
        </div>
        <br>
        <a href="/logout">로그아웃하기</a>
    </body>
</html>