<!DOCTYPE html>
<html>
    <head>
        <script language='javascript'>
            function noImageHeaderError( obj ){
                if( obj !=null){
                    obj.src = "no_image.jpg"; // 변경하고자하는 이미지를 넣는다.
                }
            }
        </script>
        <style>
                .thumbnail{
                    background-color:gray;
                    margin:10px;
                    width:100px;
                    height:100px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .thumbnail.round{
                    border-radius: 10%;
                }
                .thumbnail.circle{
                    border-radius: 100%;
                }
        </style>
        <meta charset="UTF-8">
        <title>Shuttles Menu Management Page</title> 
    </head>
    <body>
        <h3>Menu List</h3>
        <br>
        <p>Shuttles 메뉴리스트 페이지입니다.</p>
        <br>
        <table>
            <tr>
                <td>
                    <form method="get" action="/menu/add">
                        <input type="submit" value="메뉴 추가" name="coffeeAdd">
                    </form>
                </td>
                <td>
                    <form method="get" action="/event/list">
                        <input type="submit" value="공지사항 관리" name="eventAdd">
                    </form>
                </td>
                <td>
                    <form method="get" action="/summary">
                        <input type="submit" value="통계" name="summary">
                    </form>
                </td>
            </tr>
        </table>
        <br><br>
        <div>
            <form method="get" action="/menu/update_page">
                <table>
                    <% for(var i=0; i<results.length; i++) {
                        var coffee_id = results[i].coffee_id;
                        var c_name = results[i].c_name;
                        var picture_url = results[i].picture_url;
                        var description = results[i].description;
                        var cz_name = results[i].cz_name;
                        var price = results[i].price;
                        var cs_name = results[i].cs_name;
                        var co_name = results[i].co_name; 
                        var o_price = results[i].o_price; 
                        %>
                        <tr>
                            <td><input type='radio' name='coffee_id' value=<%= coffee_id %>></td>
                            <td><img class="thumbnail round" onError="javascript:noImageHeaderError(this)" src=<%= picture_url %>></td> 
                            <td>커피 이름: <%= c_name %></td> 
                            <td>설명: <%= description %></td> 
                            <td>사이즈: <%= cz_name %></td> 
                            <td>가격: <%= price %></td> 
                            <td>구분: <%= cs_name %></td>
                            <td>옵션: <%= co_name %></td> 
                            <td>옵션가격: <%= o_price %></td>
                        </tr>
                    <%}%>
                    <input type="submit" value="메뉴 수정" name="coffeeUpdate">
                </table>
            </form>
        </div>
        <br>
        <a href="/logout">로그아웃하기</a>
    </body>
</html>