<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
        <script language='javascript'>
            var clickedId = -1;
            var clickedName = "";

            function noImageHeaderError( obj ){
                if( obj !=null){
                    obj.src = "/no_image.jpg"; // 변경하고자하는 이미지를 넣는다.
                }
            }

            function SelectRow(obj) {
                var table = document.getElementById("list-table");
                var tr = table.getElementsByTagName("tr");

                clickedId = obj.children[0].innerText;
                clickedName = obj.children[1].innerText;
                
                for(var i=0; i<tr.length; i++){
                   tr[i].style.backgroundColor = "white";
                }
                obj.style.backgroundColor= "#DCD8D8";
            }

            function onMouseOver(obj) {
                if(obj.children[0].innerText != clickedId) {
                    obj.style.backgroundColor = "#E9E7E7";
                }
            }

            function onMouseOut(obj) {
                if(obj.children[0].innerText != clickedId) {
                    obj.style.backgroundColor = "white";    
                }
            }

            function noticeUpdate(del) {
                if(clickedId > 0) {
                    var actionUrl = "";
                    var res = false;
                    if(del == 1) {
                        actionUrl = "/notice/delete";
                        var res = confirm("선택하신 " + clickedName + "메뉴를 삭제하시겠습니까?");
                    }
                    else {
                        actionUrl = "/notice/update_page";
                        res = true;
                    }
                    if(res) {
                        var form = document.createElement("form");
                        form.setAttribute("charset", "UTF-8");
                        form.setAttribute("method", "Post"); // Get 또는 Post 입력
                        form.setAttribute("action", actionUrl);

                        var field = document.createElement("input");
                        field.setAttribute("type", "hidden");
                        field.setAttribute("name", "notice_id");
                        field.setAttribute("value", clickedId);
                        form.appendChild(field);

                        document.body.appendChild(form);

                        form.submit();
                    }
                }
                else {
                    alert("수정 혹은 삭제하실 메뉴를 선택해 주세요.");
                }
            }

        </script>
        <style>
                .my_thumbnail{
                    background-color:gray;
                    margin:10px;
                    width:60px;
                    height:60px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .my_thumbnail.round{
                    border-radius: 10%;
                }
                .my_thumbnail.circle{
                    border-radius: 100%;
                }
        </style>
    </head>
    <body>
        <div class='container'>
        <h3>notice List</h3>
        <br>
        <p>Shuttles 공지사항 리스트 페이지입니다.</p>
        <br>
        <a href="/notice/add" class="btn btn-default pull-left">공지사항 추가</a>
        <a href="/summary" class="btn btn-default pull-right">통계</a>
        <a href="/menu/list" class="btn btn-default pull-right">메뉴 관리</a>
        <br><br><br>
        <div class="col-lg-12" id="select_prod" ></div>
        <input class="btn btn-default pull-left" type="submit" value="수정" name="coffeeUpdate" onclick="noticeUpdate(0)">
        <input class="btn btn-default pull-left" type="submit" value="삭제" name="coffeeDelete" onclick="noticeUpdate(1)">
        <table id="list-table" class="table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>사진</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성 시간</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<results.length; i++) {
                    var notice_id = results[i].notice_id;
                    var subject = results[i].notice_subject;
                    var content = results[i].notice_content;
                    var date = results[i].notice_date;
                    var notice_picture = results[i].notice_picture;
                    %>
                    <tr id="notice_list" onmouseover="javascript:onMouseOver(this)" onmouseout="javascript:onMouseOut(this)" onclick="javascript:SelectRow(this)">
                        <td><input type='hidden' name='notice_id' value=<%= notice_id %>><%= notice_id %></td>
                        <td><img class="my_thumbnail round" onError="javascript:noImageHeaderError(this)" src=<%= notice_picture %>></td>
                        <td><%= subject %></td> 
                        <td><%= content %></td> 
                        <td><%= date %></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <br>
        <ul class="pager">
        <%
            var curSet = pasing.curSet
            var endPage = pasing.endPage
            var startPage = pasing.startPage
            var totalSet = pasing.totalSet
            var totalPage = pasing.totalPage
            var page_list_size = pasing.page_list_size
            var page_size = pasing.page_size
            var curPage = pasing.curPage
        
            if(curSet > 1){
        %>
        
        <li value=(startPage -1) class="previous">
        <a href='/notice/list?page=<%= ( startPage - 1) %>'>이전페이지</a>
        </li>
        
        <%
            }
            for(var i = startPage; i <= endPage; i++){
                if(i > totalPage){break;}
                
                if(i == curPage){
        %>
        <li value=<%= i %> class='' >
        <a href='/notice/list?page=<%= i %>'>
        <%= i %>
        </a>
        </li>
        
        <%
                }else{
        %>
        
        <li value=<%= i %> class='active' >
        <a href='/notice/list?page=<%= i %>'>
        <%= i %>
        </a>
        </li>
            
        <%
                }
            }
        %>
        
        <%
            if(curSet < totalSet){
        %>
        <li value=( endPage + 1) class="next">
        <a href='/notice/list?page=<%= ( endPage + 1) %>'>다음페이지</a>
        </li>
        <%
            }
        %>
        
        </ul>
        
        <a href="/logout" class="btn btn-default pull-left">로그아웃</a>
        </div>
    </body>
</html>